@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="location">Location:</label>
                <input type="text" class="form-control" onFocus="geolocate()" id="location" aria-describedby="location" placeholder="Enter location">
                <small id="locationHelp" class="form-text text-muted">Please enter a location.</small>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
        <div id="exceedAlert" class="alert alert-danger" role="alert">
            Exceeded the daily request quota for Google Maps API
        </div>
        
        <div id="weatherDetails" style="background-color: #3697eb; padding: 15px;">
            <h1 class="text-center" id="locationTxt"></h1>

            <div class="form-row align-items-center">
                <h4 id="weatherDescription"></h4> <img id="weatherIcon" src="http://openweathermap.org/img/wn/10d@2x.png" alt="Weather Icon" />
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <h5>Temp: <span id="temp"></span>&deg;</h5>
                    <h6>&nbsp; feels like &ndash; <span id="feelsLikeTemp"></span>&deg;C</h6>
                    <h5>Pressure: <span id="pressure"></span> mb &darr;</h5>
                </div>

                <div class="form-group col-md-6">
                    <h5>Wind speed: <span id="windSpeed"></span> km/h</h5>
                    <h5>Humidity: <span id="humidity"></span>%</h5>
                </div>
            </div>
        </div>
    </form>
